$mobileMinSize:1180px;
$narrowMinSize:700px;
$tabletSize:960px;

@mixin mobile {
  @media (max-width: #{$mobileMinSize}) {
    @content;
  }
}

@mixin narrow {
  @media (max-width: #{$narrowMinSize+1}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletSize+1}) {
    @content;
  }
}